<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!-- authorization related values -->
    <add key="BaseUri" value="your_base_address"/>
    <add key="ClientId" value="your_client_id"/>
    <add key="ClientSecret" value="your_client_secret"/>
    <add key="AppId" value="your_app_id"/>
    <add key="DirectMessageDomain" value=""/>
    <add key="AuthUri" value="api/token" />
    <add key="EmrSessionValue" value="" />

    <!-- application related values -->
    <add key="MessagesUriTemplate" value="api/messages/{id}" />
    <add key="AttachmentsUriTemplate" value="api/messages/{id}/attachments/{attachmentId}" />
    <add key="AttachmentReadUriTemplate" value="api/messages/{id}/attachments/{attachmentid}/read" />
    <add key="MessageSendUriTemplate" value="api/messages/{id}/send" />
    <add key="MessageReadEventUriTemplate" value="api/messages/{id}/process" />
    <add key="DocumentTypesUriTemplate" value="api/documenttypes" />
    <add key="DirectoryValidateTemplate" value="api/directory/validate" />
    <add key="MessageSearchTemplate" value="api/messages?isAll=true&amp;isUnassigned=true&amp;rules=%5B%5D&amp;orderBy=updatedDate&amp;orderDir=desc&amp;pageSize=10&amp;pageStart=1&amp;startDate=1970-01-01T07:00:00.000Z&amp;statuses=Received" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>
