<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Kno2-TeamCity" value="https://builds.kno2fy-dev.com/httpAuth/app/nuget/feed/_Root/default/v3/index.json" />
    <add key="Kno2-GitHub" value="https://nuget.pkg.github.com/kno2/index.json" />
</packageSources>
<packageSourceCredentials>
    <Kno2-TeamCity>
        <add key="Username" value="${USER}" />
        <add key="ClearTextPassword" value="${PAT}" />
    </Kno2-TeamCity>
     <Kno2-GitHub>
        <add key="Username" value="kno2engineering" />
        <add key="ClearTextPassword" value="${GH_PAT}" />
    </Kno2-GitHub>    
</packageSourceCredentials>
</configuration>