<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!-- authorization related values -->
    <add key="BaseUri" value="https://caringhandsvillage.kno2fy.local/"/>
    <add key="ClientId" value="sa-caringhandsvillage"/>
    <add key="ClientSecret" value="v07P/8N4MqrENeI011YyTSlCkptL0zd2ZQp5UUxXEjc="/>
    <add key="AppId" value="7A78BFD14A5441A382586F0F4A5E8FCC"/>
    <add key="DirectMessageDomain" value="" />
    <add key="AuthUri" value="api/token" />
    <add key="EmrSessionValue" value="RJ-ERIC-0.0.5-3e72a1b" />

    <!-- application related values -->
    <add key="MessagesUriTemplate" value="api/messages/{id}" />
    <add key="AttachmentsUriTemplate" value="api/messages/{id}/attachments/{attachmentId}" />
    <add key="AttachmentReadUriTemplate" value="api/messages/{id}/attachments/{attachmentid}/read" />
    <add key="MessageSendUriTemplate" value="api/messages/{id}/send" />
    <add key="MessageReadEventUriTemplate" value="api/messages/{id}/process" />
    <add key="DocumentTypesUriTemplate" value="api/documenttypes" />
    <add key="DirectoryValidateTemplate" value="api/directory/validate" />
    <add key="MessageSearchTemplate" value="api/messages?isAll=true&amp;isUnassigned=false&amp;orderBy=updatedDate&amp;orderDir=desc&amp;pageSize=10&amp;pageStart=1&amp;rules=%5B%5D&amp;statuses=processed&amp;processedtypes=AwaitingEMRExport" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
